
* {
    border: 1px solid red !important;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    color: #676858;
    font-weight: 300;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .title-super {
        font-size: 45px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .title-super {
        font-size: 35px;
    }
}

@media (max-width: 575.98px) {
    .title-super {
        font-size: 25px;
    }
}


